streamlit
python-dotenv
transformers
requests
langchain
openai
langchain-community
langchain-core
streamlit
python-dotenv
transformers
requests
openai
torch==2.1.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
langchain
langchain-core
langchain-community
